@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v12/i7dMIFZifjKcF5UAWdDRaPpZYFI.ttf) format('truetype');
}
.header {
  color: hsl(183, 100%, 15%);
  text-align: center;
  margin-top: 5%;
  font-size: 1.2rem;
}
body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}
.container {
  width: 600px;
  height: 300px;
  background-color: hsl(0, 0%, 100%);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.container .output_box {
  width: 45%;
  height: 90%;
  background-color: hsl(183, 100%, 15%);
  float: right;
  margin: 15px 15px 15px 0;
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
}
.container .output_box .output_content {
  height: 50px;
  margin: 25px;
}
.container .output_box .text-left {
  float: left;
  width: 40%;
  font-size: 0.7rem;
  padding-left: 5px;
  padding-top: 10px;
  margin: 0;
}
.container .output_box .text-left span {
  font-size: 0.75rem;
  color: hsl(186, 14%, 56%);
}
.container .output_box .text-right {
  float: right;
  text-align: right;
  width: 50%;
  font-size: 1.8rem;
  margin: 0;
  color: hsl(172, 67%, 45%);
}
.container .output_box #button-reset {
  text-align: center;
  padding-top: 40px;
}
.container .output_box #reset {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: hsl(172, 67%, 45%);
  color: #000;
  font-weight: 700;
  border: none;
}
.container .input_box {
  width: 45%;
  height: 90%;
  margin: 15px 15px 15px 0;
  margin-left: 15px;
  border-radius: 15px;
  float: left;
}
.container .input_box .form_content {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 15px;
  padding-bottom: 0;
}
.container .input_box .form_content label {
  display: block;
  color: hsl(186, 14%, 43%);
  font-size: 0.75rem;
  padding-bottom: 5px;
}
.container .input_box .form_content input {
  color: hsl(183, 100%, 15%);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  padding: 2px 15px;
  border-radius: 5px;
}
.container .input_box .form_content input:focus {
  outline: 0;
}
.container .input_box .form_content input::-webkit-outer-spin-button,
.container .input_box .form_content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .input_box .form_content #bill {
  width: 85%;
  height: 30px;
  text-align: left;
  background-color: hsl(189, 41%, 97%);
  border: none;
  text-align: right;
  font-size: 1.15rem;
}
.container .input_box .form_content #bill:focus {
  border: 2px solid;
  border-color: hsl(186, 14%, 56%);
  border-radius: 5px;
}
.container .input_box .form_content #placeholder {
  position: absolute;
  top: 37px;
  left: 25px;
  font-size: 1.4rem;
  font-family: 'Space Mono', monospace;
  color: hsl(185, 41%, 84%);
}
.container .input_box .form_content #numberPeople {
  width: 85%;
  height: 30px;
  text-align: left;
  background-color: hsl(189, 41%, 97%);
  border: none;
  text-align: right;
  font-size: 1.15rem;
}
.container .input_box .form_content #numberPeople:focus {
  border: 2px solid;
  border-color: hsl(186, 14%, 56%);
  border-radius: 5px;
}
.container .input_box .form_content #ErrorNum {
  color: hsl(0, 100%, 50%);
  font-size: 0.6rem;
  float: right;
  padding-right: 10px;
}
.container .input_box .form_content #placeholder2 {
  position: absolute;
  top: 37px;
  left: 25px;
  font-size: 1.4rem;
  font-family: 'Space Mono', monospace;
  color: hsl(185, 41%, 84%);
}
.container .input_box #select_container {
  height: 100px;
}
.container .input_box #select_container .fetchbutton {
  background-color: hsl(183, 100%, 15%);
  border: none;
  color: white;
  width: 75px;
  height: 35px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}
.container .input_box #select_container .fetchbutton:hover {
  background-color: hsl(185, 41%, 84%);
  color: #000;
}
.container .input_box #select_container .custom {
  width: 53px;
  height: 33px;
  background-color: hsl(189, 41%, 97%);
  font-size: 0.8rem;
  letter-spacing: 1.1px;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  padding-right: 10px;
  border: none;
}
.container .input_box #select_container .custom:focus {
  border: 2px solid;
  border-color: hsl(186, 14%, 56%);
  border-radius: 5px;
}
.attribution {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
