@primary-color: hsl(172, 67%, 45%);
@neutral-color2:hsl(183, 100%, 15%);
@neutral-color3:hsl(186, 14%, 43%);
@neutral-color4:hsl(184, 14%, 56%);
@neutral-color5:hsl(185, 41%, 84%);
@neutral-color6:hsl(189, 41%, 97%);
@neutral-color7:hsl(0, 0%, 100%);

@margin_box: 15px 15px 15px 0;
@border_radius: 15px;
@width: 45%;
@height: @width + 45%;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@font-family: 'Space Mono', monospace;
@font-weight: 700;

.header{
    color: @neutral-color2;
    text-align: center;
    margin-top: 5%;
    font-size: 1.2rem;
}
body{
    background-color: @neutral-color5;
    font-family: @font-family;
    font-weight: @font-weight;
}
.container{
    width: 600px;
    height: 300px;
    background-color: @neutral-color7;
    margin-left: auto;
    margin-right: auto;
    border-radius: @border_radius;
    .output_box{
        width: @width;
        height: @height;
        background-color: @neutral-color2;
        float: right;
        margin: @margin_box;
        border-radius: @border_radius;
        color: @neutral-color7;
         .output_content{
            height: 100px;
         }
         #text-left{
            float: left;
            width: 30%;
            font-size: 0.8rem;
            padding-left: 5px;
            padding-top: 15px;
            margin: 0;
             span{
               font-size: 0.75rem;
             }
         }
         #text-right{
            float: right;
            width: 60%;
            font-size: 2.5rem;
            margin: 0;
            color: @primary-color;
         }
         #button-reset{
            text-align: center;
         }
         #reset{
            width: 200px;
            padding: 6px 12px;
            background-color: @primary-color;
            color: #000;
            font-weight: @font-weight;
            border: none;
         }
    }
    .input_box{
        width: @width;
        height: @height;
        margin: @margin_box;
        margin-left: 15px;
        border-radius: @border_radius;
        float: left;
         .form_content{
            position: relative;
            width: 100%;
            height: 50px;
            padding: 15px;
            padding-bottom: 0;
             label{
                display: block;
                color: @neutral-color3;
                font-size: 0.75rem;
                padding-bottom: 5px;
             }
             input{
                color: @neutral-color2;
                font-weight: 700;
                padding-right:10px;
             }
             input:focus{
                outline: 0;
             }
             input::-webkit-outer-spin-button,
             input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                 margin: 0;
             }
             #bill{
                width: 85%;
                height: 30px;
                text-align: left;
                background-color: @neutral-color6;
                border: none;
                text-align: right;
                font-size: 1.3rem;
             }
             #placeholder{
                position: absolute;
                top: 35px;
                left: 25px;
                font-size: 1.4rem;
                font-family: @font-family;
                color: @neutral-color5;
             }
             #numberPeople{
                width: 85%;
                height: 30px;
                text-align: left;
                background-color: @neutral-color6;
                border: none;
                text-align: right;
                font-size: 1.3rem;
             }
             #placeholder2{
                position: absolute;
                top: 35px;
                left: 25px;
                font-size: 1.4rem;
                font-family: @font-family;
                color: @neutral-color5;
             }
         }
         #select_container{
            height: 100px;
            #five , #ten , #fifteen , #twenty-five , #fifty{
                background-color:@neutral-color2;
                border: none;
                color: white;
                width: 70px;
                height: 35px;
                text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 5px;
            }
            #custom{
                width: 60px;
                height: 35px;
                background-color: @neutral-color6;
                font-size: 0.80rem;
                letter-spacing: 2px;
                text-align: center;
                border-radius: 5px;
                font-weight: 700;
                padding-right:10px;
                border: none;
            }
            #custom:focus{
               outline: 0;
            }
         }
    }
}

