.header {
  color: hsl(183, 100%, 15%);
  text-align: center;
  margin-top: 5%;
  font-size: 1.2rem;
}
body {
  background-color: hsl(185, 41%, 84%);
}
.container {
  width: 600px;
  height: 300px;
  background-color: hsl(0, 0%, 100%);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.container .output_box {
  width: 45%;
  height: 90%;
  background-color: hsl(183, 100%, 15%);
  float: right;
  margin: 15px 15px 15px 0;
  border-radius: 15px;
}
.container .input_box {
  border: 1px solid #000;
  width: 45%;
  height: 90%;
  margin: 15px 15px 15px 0;
  margin-left: 15px;
  border-radius: 15px;
  float: left;
}
.container .input_box .from_content {
  width: 100%;
  height: 100px;
  padding: 15px;
}
