@primary-color: hsl(172, 67%, 45%);
@neutral-color2:hsl(183, 100%, 15%);
@neutral-color3:hsl(186, 14%, 43%);
@neutral-color4:hsl(184, 14%, 56%);
@neutral-color5:hsl(185, 41%, 84%);
@neutral-color6:hsl(189, 41%, 97%);
@neutral-color6:hsl(0, 0%, 100%);

.header{
    color: @neutral-color2;
    text-align: center;
    margin-top: 5%;
    font-size: 1.2rem;
}
body{
    background-color: @neutral-color5;
}
.container{
    width: 600px;
    height: 300px;
    background-color: @neutral-color6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    .output_box{
        width: 40%;
        height: 280px;
        background-color: @neutral-color2;
    }
}
