@primary-color: hsl(172, 67%, 45%);
@neutral-color2:hsl(183, 100%, 15%);
@neutral-color3:hsl(186, 14%, 43%);
@neutral-color4:hsl(184, 14%, 56%);
@neutral-color5:hsl(185, 41%, 84%);
@neutral-color6:hsl(189, 41%, 97%);
@neutral-color6:hsl(0, 0%, 100%);

body{
    background-color: @neutral-color5;
}